/* 共通CSS */
* {
  font-family: 'Nunito Sans', sans-serif;
}

:root {
  --shadowDark: #D9DDE6;
  --background: #F2F6FA;
  --shadowLight: #EFF5FE;
}

/* ログイン画面 */
#loginPage {
  background: var(--background);
}

#loginPage .login-hr {
  border-bottom: 1px solid black;
}

#loginPage .hero-body {
  justify-content: center;
}

#loginPage .login {
  border-radius: 25px;
  padding: 1.5rem;
  box-shadow: 8px 8px 15px var(--shadowDark), -8px -8px 15px var(--shadowLight);
}

#loginPage a {
  font-weight: 600;
}
